<div class="box">
  <div class="bar">
    <h1>Zoo Animalandia</h1>
  </div>

  <div class="toolbar">
    <button type="button" class="btn btn-outline-primary">Inicio</button>
    <button type="button" class="btn btn-outline-primary">Catalogo Zoo</button>
    <button type="button" class="btn btn-outline-primary">Recorridos</button>
    <button type="button" class="btn btn-outline-primary">Ubicacion</button>
    <button type="button" class="btn btn-outline-primary">Contacto</button>
  </div>
  <div class="content">
    <div class="text">
      <h2>¡Bienvenidos al Zoológico de Aventuras!</h2>
      <h3>¡Explora el Mundo Animal!</h3>
      <p>Hola, pequeños exploradores! 🌿 ¿Están listos para una emocionante aventura llena de criaturas asombrosas?
        ¡Bienvenidos al Zoológico de Aventuras! Aquí, podrán descubrir la diversidad de la vida animal mientras se
        divierten y aprenden.</p>
      <h3>¿Qué encontrarán en nuestro zoológico?</h3>
      <p>La Jungla Mágica 🌴
        Adéntrate en la selva tropical y escucha los sonidos de los monos, las aves exóticas y los rugidos de los
        tigres.
        ¡Cuidado con las serpientes que se esconden entre las hojas!
        La Gran Sabana Africana 🦓
        Observa a las majestuosas jirafas, los veloces guepardos y los imponentes leones. ¿Pueden encontrar al rey de la
        sabana?
        El Bosque Encantado 🦉
        Camina en silencio y descubre a los búhos, los zorros y los ciervos. ¿Quién sabe qué secretos esconde este
        mágico
        bosque?
        El Acuario Submarino 🐠
        Sumérgete en el mundo submarino y maravíllate con los peces de colores, las tortugas marinas y los tiburones
        curiosos. ¡No olviden saludar a Nemo y Dory!
        El Rincón de los Animales Pequeños 🐭
        Aquí encontrarán a los simpáticos conejitos, los traviesos mapaches y los adorables erizos. ¡Son tan pequeños
        pero
        llenos de energía!</p>
      <h3>Actividades divertidas</h3>
      <p>
        Charlas educativas: Aprenderán datos interesantes sobre los animales y su hábitat.
        Alimentación de los animales: Ayuden a los cuidadores a dar de comer a los elefantes, los pingüinos y otros
        amigos peludos.
        Paseo en trenecito: Recorran todo el zoológico mientras disfrutan del paisaje.</p>

      <h3>¡Vamos a explorar juntos!
        Así que, niños aventureros, agarren sus prismáticos y prepárense para descubrir el mundo animal en el Zoológico
        de Aventuras. ¡La diversión está a punto de comenzar!</h3>
    </div>


  </div>
</div>