$color_primario: #f0a35d;
$color-segundario: #fafccb;

.box {
  display: grid;
  grid-template-areas:
    "bar bar"
    "toolbar content"
    "toolbar content";
  grid-template-columns: repeat(minmax(200px, 1fr) 1fr);

}

.bar {
  grid-area: bar;
}

.toolbar {
  grid-area: toolbar;
}

.contenido {
  grid-area: contenido;
}