<!--sidenav-->

<mat-drawer-container class="example-container " autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-list class="d-flex flex-column ">
      <button class="m-2" mat-raised-button>
        <a class="text-decoration-none text-dark" routerLink="auth">
          <mat-list>inicio</mat-list>
        </a>
      </button>
      <button class="m-2" mat-raised-button>
        <a class="text-decoration-none text-dark" routerLink="user">
          <mat-list>usuarios</mat-list>
        </a>
      </button>
      <button class="m-2" mat-raised-button>
        <a class="text-decoration-none text-dark" (click)="logout()" routerLink="auth">
          <mat-list>Cerrar sesion</mat-list>
        </a>
      </button>
    </mat-list>


  </mat-drawer>


  <!--toolbar-->
  <div class="example-sidenav-content">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Administrador de alumnos</span>
    </mat-toolbar>

    <router-outlet />
  </div>

</mat-drawer-container>