.example-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.example-toolbar {
  background-color: #f60002;
  color: #ffffff;
}

.example-sidenav {
  width: 200px;
  padding: 20px;
}

.example-sidenav-content {
  height: 100%;

}

.botones {
  a {
    font-size: large;
  }

}
