.content {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}


h1 {
  text-align: center;
  color: #ffffff;
}

.tabla {
  background-color: #85ca4d;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;

}


.boton {
  background-color: #85ca4d;
  border: none;
  padding: 12px 34px;
  text-align: center;
  font-size: 16px;
  margin: 10px 4px;
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    background-color: #85ca4dc0;
  }



}