h1 {
  text-align: center;
  color: #ffffff;
}

table {
  background-color: #62943a;


}


.boton {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #62943a;



}